.container {
  position: relative;
  top: -16px;
  width: 20rem;
}

.results {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 9000;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height: 30rem;
  overflow-y: scroll;
}

.results:hover {
  cursor: default;
}

.result {
  padding: .8rem;
}

.result:hover {
  background-color: #f1f1f1;
}
